@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0; 
    padding: 0; 
} 

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 105px auto 300px;
    grid-template-areas:  
    "header header header"
    "main main main"
    "footer footer footer";
}

/*!-----------------HEADER----------------*/
header{
    background: rgb(0, 0, 0);
    width: 100%;
    padding: 25px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-area: header;
}

header a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-style: italic;
}

header span{
    color: blueviolet;
}

header nav ul{
    list-style: none;
}

header nav ul li{
    display: inline-block;
    padding: 10px;
    margin: 5px 15px 5px 15px; 
}

/*!--------------------MAIN--------------------*/
main{
    grid-area: main;
}

main .banner{
    text-align: center;
    background-image: url(../img/banner-index.jpg);
    background-position: center;
    width: 100%;
    height: 89vh;
    background-repeat: no-repeat;
}

main .banner h2{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-top: 110px;
}

main .banner h3{
    color: blueviolet;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    margin-top: 60px;
    margin-bottom: 90px;
}

main .banner a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    border: 3px solid blueviolet;
    padding: 8px;
}

main .info{
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.897);
    color: white;
    box-sizing: border-box;
    border-top: 15px solid blueviolet;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

main .info img{
    width: 100px;
}

main .info h2{
    margin: 15px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    text-shadow: 5px 5px 10px blueviolet;
}

main .info p{
    font-size: 20px;
}

main .info .info-a{
    width: 250px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .info .info-b{
    width: 250px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .info .info-c{
    width: 250px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main .planes{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:white;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 80px 0px 70px 0px;
}

main .planes img{
    width: 300px;
    height: 300px;
    border: 2px solid blueviolet;
    object-fit: cover;
}

main .planes h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: blueviolet;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

main .planes ul li{
    list-style: circle inside;
    font-size: 18px;
    width: 220px;
}

main .planes .plan-a{
    width: 300px;
    height: 600px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
    -webkit-box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
    -moz-box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
}

main .planes .plan-b{
    width: 300px;
    height: 600px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
    -webkit-box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
    -moz-box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
}

main .planes .plan-c{
    width: 300px;
    height: 600px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
    -webkit-box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
    -moz-box-shadow: -3px 23px 56px -13px rgba(138,43,226,0.79);
}

main .planes-boton{
    background-color: white;
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
}

main .planes-boton .boton a{
    color: blueviolet;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    border: 2px solid blueviolet;
    padding: 5px;
}

main .img-galery{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "galery-a galery-b galery-c";
}

main .img-galery img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

main .img-galery h2{
    color: whitesmoke;
    background-color: blueviolet;
    padding: 5px 10px 5px 10px;
    position: absolute;
    right: 0%;
    top: 0%;
    font-style: italic;
}

main .img-galery .galery-a{
    grid-area: galery-a;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .img-galery .galery-a p{
    color: whitesmoke;
    position: absolute;
    font-size: 18px;
    text-align: justify;
    width: 78%;
    background-color: rgba(0, 0, 0, 0.658);
}

main .img-galery .galery-b{
    grid-area: galery-b;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .img-galery .galery-b p{
    color: whitesmoke;
    position: absolute;
    font-size: 18px;
    text-align: justify;
    width: 78%;
    background-color: rgba(0, 0, 0, 0.658);
}

main .img-galery .galery-c{
    grid-area: galery-c;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .img-galery .galery-c p{
    color: whitesmoke;
    position: absolute;
    font-size: 18px;
    text-align: justify;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.658);
}

/*!------------------FOOTER------------------*/
footer{
    background-color: rgba(0, 0, 0, 0.87);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    grid-area: footer;
}

footer div{
    color: rgb(255, 255, 255);
}

footer .footer-left{
    width: 300px;
}

footer .footer-left a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-style: italic;

}

footer .footer-left p{
    color: rgb(148, 146, 146);
    font-size: 15px;
    margin-top: 18px;
}

footer .footer-left span{
    color: blueviolet;
}

footer .footer-left .footer-social-media{
    width: 300px;
    height: 35px;
    margin-top: 20px;
}

footer .footer-left .footer-social-media h2{
    color: rgb(209, 209, 209);
    font-style: italic;
    font-size: 15px;
}

footer .footer-left .footer-social-media ul li{
    display: inline-block;
}

footer .footer-left .footer-social-media ul li img{
    width: 20px;
    height: 20px;
}

footer .footer-right{
    width: 230px;
}

footer .footer-right h2{
    color: rgb(209, 209, 209);
    font-style: italic;
    font-size: 18px;
}

footer .footer-right h3{
    color: rgb(148, 146, 146);
    font-size: 15px;
    margin-top: 18px;
}

footer .footer-right p{
    color: rgb(148, 146, 146);
    font-size: 15px;
}

footer .footer-right .footer-right-a{
    margin-bottom: 18px;
}

/**-------------------Page Contacto------------------*/

.banner-contacto{
    background-image: url(../img/banner-contacto.jpg);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 89vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-contacto h2{
    color: blueviolet;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

.banner-contacto h3{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.banner-contacto img{
    width: 80px;
    height: 80px;
    padding-bottom: 30px;
    margin-top: 30px;
}

.contacto{
    background-color: blueviolet;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacto h2{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    padding-top: 20px;
}

.contacto .contacto-social-media{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.contacto .contacto-social-media ul li{
    display: inline-block;
}

.contacto .contacto-social-media ul li img{
    width: 30px;
    height: 30px;
    margin: 15px;
}

.contacto .contacto-social-media p{
    color: whitesmoke;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 20px;
    width: 600px;
}

.contacto .contacto-form{
    width: 600px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto .contacto-form input{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: solid 2px rgb(0, 0, 0);
}

.contacto .contacto-form textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0 10px 0;
    border: solid 2px rgb(0, 0, 0);
}

.contacto .direcciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 900px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.contacto .direcciones p{
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    width: 100%;
}

.contacto .direcciones iframe{
    margin: 20px;
}

/**----------------Page Asesorias----------------*/

main .planes-asesorias{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:white;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 50px 0px 70px 0px;
}

main .planes-asesorias img{
    width: 300px;
    height: 300px;
    border: 2px solid blueviolet;
    object-fit: cover;
}

main .planes-asesorias h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: blueviolet;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

main .planes-asesorias ul li{
    list-style: circle inside;
    font-size: 18px;
    width: 220px;
}

main .planes-asesorias a{
    text-decoration: none;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: blueviolet;
    font-size: 15px;
    text-align: center;
    border: 2px solid blueviolet;
    padding: 5px;
}

main .planes-asesorias .plan-tarjeta{
    width: 300px;
    height: 670px;
    margin: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 1px 16px 52px 8px rgba(138,43,226,0.75);
    -webkit-box-shadow: 1px 16px 52px 8px rgba(138,43,226,0.75);
    -moz-box-shadow: 1px 16px 52px 8px rgba(138,43,226,0.75);
}

/**----------------Page Nosotros----------------*/

.banner-nosotros{
    background-image: url(../img/banner-nosotros.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: blueviolet;
    width: 100%;
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.banner-nosotros h2{
    color: blueviolet;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
}

.banner-nosotros h3{
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-bottom: 65px;
}

.nosotros{
    width: 100%;
    background-color: blueviolet;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}

.nosotros div{
    width: 75%;
    text-align: center;
    padding: 100px 0 100px 0;
}

.nosotros h2{
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
}

.nosotros h3{
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.nosotros h4{
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.nosotros p{
    font-style: italic;
    font-size: 23px;
    margin: 20px 0 35px 0;
}

/*!--------------MEDIA QUARY-----------*/

@media screen and (max-width:1050px){
    header nav ul li{
        margin: 0;
    }
    main .img-galery{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60vh 60vh 60vh;
        grid-template-areas: 
        "galery-a"
        "galery-b"
        "galery-c"
        ;
    }
    main .banner h2{
        font-size: 25px;
    }
    main .banner h3{
        font-size: 50px;
    }
    main .banner a{
        font-size: 23px;
    }
    .banner-contacto h2{
        font-size: 55px;
    }
    .banner-contacto h3{
        font-size: 25px;
    }
    .banner-contacto img{
        width: 60px;
        height: 60px;
        margin-top: 20px;
    }
    .contacto .direcciones{
        flex-direction: column;
        width: 450px;
    }
    .contacto .direcciones iframe{
        margin: 20px 0 20px 0;
    }
}   

@media screen and (max-width:750px) {
    header a{
        font-size: 13px;
    }
    footer{
        height: 400px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-left{
        margin-bottom: 40px;
    }
    main .banner h2{
        font-size: 20px;
    }
    main .banner h3{
        font-size: 40px;
    }
    main .banner a{
        font-size: 19px;
    }
    .banner-contacto h2{
        font-size: 40px;
    }
    .banner-contacto h3{
        font-size: 20px;
    }
    .banner-contacto img{
        width: 45px;
        height: 45px;
        margin-top: 15px;
    }
    .contacto .contacto-form{
        width: 450px;
    }
    .contacto .contacto-social-media{
        width: 450px;
    }
    .contacto .contacto-social-media h2{
        font-size: 55px;
    }
    .contacto .contacto-social-media p{
        font-size: 17px;
        width: 100%
    }
    .contacto .contacto-social-media ul li img{
        width: 20px;
        height: 20px;
        margin: 10px;
    }
}   

@media screen and (max-width:541px){
    header{
        height: 120px;
    }
    main .banner h2{
        font-size: 17px;
    }
    main .banner h3{
        font-size: 30px;
    }
    main .banner a{
        font-size: 16px;
    }
    main .planes .plan-a{
        margin-left: 0;
        margin-right: 0;
    }
    main .planes .plan-b{
        margin-left: 0;
        margin-right: 0;
    }
    main .planes .plan-c{
        margin-left: 0;
        margin-right: 0;
    }
    .banner-contacto h2{
        font-size: 30px;
    }
    .banner-contacto h3{
        font-size: 15px;
    }
    .banner-contacto img{
        width: 40px;
        height: 40px;
    }
    .contacto .contacto-social-media{
        width: 300px;
    }
    .contacto .contacto-form{
        width: 300px;
    }
    .contacto .direcciones{
        width: 300px;
        padding: 70px 0 70px 0;
    }
    .contacto .direcciones p{
        font-size: 20px;
    }
    .contacto .direcciones iframe{
        width: 300px;
        height: 250px;
    }
}

@media screen and (max-width:387px){
    header{
        height: 155px;
    }
        
}

@media screen and (max-width:350px){
    main .banner h2{
        font-size: 14px;
    }
    main .banner a{
        font-size: 14px;
    }
    .banner-contacto h2{
        font-size: 25px;
    }
    .banner-contacto h3{
        font-size: 12px;
    }
    .banner-contacto img{
        width: 35px;
        height: 35px;
        margin-top: 12px;
    }
}