footer{
    background-color: rgba(0, 0, 0, 0.87);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    grid-area: footer;
    color: $color-terciario;
    .footer-left{
        width: 300px;
        margin: 0;
        a{
            text-decoration: none;
            color: $color-terciario;
            font-size: nth($font-size, 1);
            font-style: italic;
            font-family: 'Times New Roman', Times, serif;
            &:hover{
                color: $color-principal;
            }
        }
        p{
            color: rgb(148, 146, 146);
            font-size: nth($font-size, 1);
            margin: 15px 0 15px 0;
            font-family: 'Times New Roman', Times, serif;
        }
        span{
            color: $color-principal;
        }
        .footer-social-media{
            width: 300px;
            height: 35px;
            margin-top: 20px;
            h2{
                color: rgb(209, 209, 209);
                font-style: italic;
                font-size: nth($font-size, 1);
                font-family: 'Times New Roman', Times, serif;
                margin: 0;
            }
            ul{
                margin: 0;
                padding: 0;
                li{
                    display: inline-block;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
    .footer-right{
        width: 230px;
        h2{
            color: rgb(209, 209, 209);
            font-style: italic;
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
        }
        h3{
            color: rgb(148, 146, 146);
            font-size: nth($font-size, 1);
            margin-top: 18px;
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
        }
        p{
            color: rgb(148, 146, 146);
            font-size: nth($font-size, 1);
            font-family: 'Times New Roman', Times, serif;
            margin: 0;
        }
        .footer-right-a{
            margin-bottom: 18px;
            margin-top: 10px;
        }
    }
}