header{
    background: $color-secundario;
    width: 100%;
    padding: 25px;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    grid-area: header;
    z-index: 10;
    .navegacion{
        .navbar{
            padding: 0;
            .container-fluid{
                padding: 0;
                background-color: $color-secundario;
                .collapse{
                    .navbar-nav{
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        .nav-item{
                            padding: 0;
                            margin: 5px 25px 5px 25px;
                            .nav-link{
                                font-family: 'Times New Roman', Times, serif;
                                font-size: nth($font-size, 2);
                                font-style: italic;
                                color: $color-terciario;
                                &:hover{
                                    color: $color-principal;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .logo-inicio{
        a{
            text-decoration: none;
            @extend %flex;
            color: $color-terciario;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            img{
                height: 80px;
                position: absolute;
                left: 25px;
            }
            &:hover{
                color: $color-principal;
            }
            h1{
                font-size: nth($font-size, 4);
                margin: 0 0 0 85px;
                span{
                    color: $color-principal;
                }
            }
        }
    }
}
